/*Global syyling*/
html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #525252;
}

h1 {
  font-size: 6vmin;
}

h4 {
  font-size: 2vmin;
}

/*Sidebar styling*/
.sidebar-buttons-column {
  font-weight: 300;
  padding-left: 0px;
  padding-right: 0px;
}

.remove-lr-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar-button {
  cursor: pointer;
  min-height: 20%;
}

.sidebar-button a {
  color: rgba(255, 255, 255, .35);
  font-size: 1.5vw;
  text-decoration: none;
}

.sidebar-icon {
  font-size: 7vh;
  color: #fff;
}

#node-button {
  background-color: #F2517F;
}

#timeline-button {
  background-color: #9253a0;
}

#history-analysis-button {
  background-color: #5D53A0;
}

#distractions-analysis-button {
  background-color: #3e79d6;
}

#banlist-button {
  background-color: #109dd6;
}

/*General styling*/
.full-height {
  min-height: 100%;
  height: 100%;
}

.horizontal-text-center {
  text-align: center;
}

.vertical-center-wrapper {
  width: 100%;
  height: 20%;
  display: table;
}

.vertical-center-outer {
  display: table-cell;
  vertical-align: middle;
}

/*Place holder charts styling*/
.timeline-chart div {
  font: 10px sans-serif;
  background-color: black;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.analysis-chart div {
  font: 10px sans-serif;
  background-color: red;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/*Node Page Styling*/
.link {
  stroke: #cacaca;
  stroke-width: 1px;
}

.node {
  cursor: move;
  fill: #f2f2f2;
  stroke: #ebebeb;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #F2517F;
}

.nodes-tooltip {
  position: absolute;
  background-color: #e4e4e4;
  z-index: 10;
  visibility: hidden;
}

.node-label {
  stroke-width: 0;
  fill: rgb(11, 46, 81);
  text-align: center;
}

.green {
  color: #3aa233
}

.display-inline {
  display: inline-block;
}

.display-none {
  display: none;
}

.custom-time {
  margin-left: 10px;
}

.timeframe-selector {
  z-index: 10;
  top: 10px;
  /*right: 10px;*/

  /*position: absolute;*/
}

#tutorialArrowImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  color: #46b8df;
}

.tutorialArrowBackground{
  opacity: 0;
  -webkit-transition: opacity 1.25s linear;
  transition: opacity 1.25s linear;
}

.help-icon{
  color: #31b0d5;
  font-size: 18px;
}

/* Graph type colors */
.type-other{
  fill: #3e79d6;
}
.type-distraction{
  fill: #F2517F;
}
.type-trigger{
  fill: #9253a0;
}

.help-icon {
  display: none;
}