html {
    height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

.sidebar-buttons-column {
    padding-left: 0px;
}

.sidebar-button {
  min-height: 25%;
}

.sidebar-button a {
  color: rgba(255, 255, 255, .35);
  font-size: 2vw;
  text-decoration: none;
}

.sidebar-icon {
  font-size: 7vh;
  color: #fff;
}

#node-button {
  background-color: #FB5282;
}

#timeline-button {
  background-color: #c83a7e;
}

#analysis-button {
  background-color: #9253a0;
}

#banlist-button {
  background-color: #3e79d6;
}

.full-height {
  min-height: 100%;
  height: 100%;
}

.horizontal-text-center {
  text-align: center;
}

.vertical-center-wrapper {
  width: 100%;
  height: 25%;
  display: table;
}

.vertical-center-outer {
  display: table-cell;
  vertical-align: middle;
}

.nodes-chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.timeline-chart div {
  font: 10px sans-serif;
  background-color: black;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.analysis-chart div {
  font: 10px sans-serif;
  background-color: red;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
